@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #EEEEEE;
}

.section {
  padding: 30px 100px;
}

@media (max-width: 768px) {
  .section {
    padding: 30px 10px;
  }

}

.Padding {
  padding: 70px 100px 100px 70px;
}

@media (max-width: 768px) {
  .Padding {
    padding: 70px 20px 20px 20px;
  }
}

.HeroPadding {
  padding: 200px 100px 110px 100px;
}

@media (max-width: 768px) {
  .HeroPadding {
    padding: 100px 20px 20px 20px;
  }
}


.service {
  padding: 20px;
}

.pt {
  padding-top: 100px;
}



.button {
  color: #ffffff;
  text-align: center;
  width: 260px;
  height: 50px;
  background-color: #8873EF;
  font-weight: 600;
  letter-spacing: -17%;
  line-height: auto;
  font-size: 16px;
  border-radius: 8px;
}

.button:hover {
  background-color: #8f7de7;
  color: #FAFAFA;
  transition: 10ms;
}


















.mobilePadding {
  padding: 100px 20px 20px 20px;
}